body {
  background-color: #3493F3;
  color: #000000;
  font-size: 20px;
  line-height: 24px;
}

nav {
  background-color: rgba(0,0,0,.5);
  float: left;
  position: fixed;
  width: 100%;
}

a {
  color: #ffffff;
  text-decoration: none;
  font-size: 16px;
}

a:hover {
  color: #B9BBC0;
}

figcaption {
  font-size: 14px;
}

h1 {
  font-size: 48px;
  font-weight: bold;
  line-height: 135%;
  margin-bottom: 2%;
}

h3 {
  font-size: 26px;
  line-height: 100%;
  margin-bottom: 2%;
  width: 500px;
}

p {
  margin-bottom: 3%;
  padding-right: 80px;
}

.author {
  font-size: 16px;
  font-weight: bold;
}

.story-text {
  width: 600px;
}

.logo {
  margin: 20px;
  width: 100px;
}

.large-pic {
  width: 100%;
}

.medium-pic {
  width: 75%;
  padding-top: 20px;
}

.left, .right {
  float: left;
  width: 50%;
}

.right {
  float: right;
}

ul {
  list-style-type: none;
  float: right;
}

li {
  float: right;
  padding: 30px;
}

article {
  padding-top: 100px;
}

.container {
  margin: 0 auto;
  width: 60%;
}
